@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

main {
  height: 100vh;
  background: url("../src/assets/icons/icon-ink.svg");
  background-repeat: no-repeat;
  background-position: 5% 98%;
  background-size: 4em;
  @include desktop {
    background-size: 10em;
    background-position: 5% 90%;
  }
}

input:focus {
  border: $color-blue;
}

input::placeholder {
  color: $color-lightgrey;
}

.input--search {
  font-style: italic;
  @include desktop {
    font-size: 1.5em;
  }
}

.input--add {
  font-size: 1.5em;
  @include desktop {
    font-size: 1.875em;
  }
}
