@use "./styles/partials/variables" as *;

main {
  height: 100vh;
  background: url("../src/assets/icons/icon-ink.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 20em;
}

input {
  font-size: 1.5em;
  font-style: italic;
}

input::placeholder {
  color: $color-lightgrey;
}
